@model Actor

@{
    ViewData["Title"] = "Confirm Actor Deletion";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h2 class="text-danger">Confirm Deletion of @Model.FullName</h2>
        </p>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group text-center">
                    <img class="border-danger rounded-circle img-scale" id="ProfilePicturePreview" />
                </div>
                <div class="form-group mb-3">
                    <label asp-for="ProfilePictureUrl" class="control-label"></label>
                    <input asp-for="ProfilePictureUrl" class="form-control" readonly />
                    <span asp-validation-for="ProfilePictureUrl" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="FullName" class="control-label"></label>
                    <input asp-for="FullName" class="form-control" readonly />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Bio" class="control-label"></label>
                    <input asp-for="Bio" class="form-control" readonly />
                    <span asp-validation-for="Bio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Confirm Deletion" class="btn btn-danger" />
                        <a class="btn btn-outline-secondary float-end" asp-action="Index">Back to All Actors</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $("#ProfilePictureUrl").val();
        })
    </script>
}
